/angular/angular-tailwind-fontawesome/.angular/
/angular/angular-tailwind-fontawesome/node_modules/
/react/react-js-tailwind-fontawesome/node_modules/
/react/react-ts-tailwind-fontawesome/node_modules/
/vue/vue-js-tailwind-fontawesome/node_modules/
/vue/vue-ts-tailwind-fontawesome/node_modules/
